<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plastic_characteristic</title>
</head>
<body>
    {%block content%}
    <p>
        実験器具としてのプラスチックには以下のような利点があります。
        <ul>
            <li>軽い</li>
            <li>ぶつけても壊れにくい</li>
            <li>安価</li>
        </ul>
        しかし熱で変形、有機溶媒で変性、汚れやすいなどの欠点もあるので、
        あまり精度はいらないが一度に多数の試料をざっと試験したい時などに
        用いられます。
    </p>
    {%endblock%}
</body>
</html>