<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progaku Python URL shortener</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('create_short_url.static', filename='css/style.css') }}"
    />
  </head>
  <body>
      <div class="container">
        <p class="text" id="title">短縮URLサービス</p>
        <div class="form__area">
          <form class="form"  method="POST" action="./">
            <input required class="input" type="text" placeholder="短縮したいURLを入力してください">
            <input class="input" type="text" placeholder="URLに組み込みたいキーワードを入力してください（任意）">
            </br>
            <input class="input" id="submit__btn" type="submit" value="短縮">
          </form>
        </div>
        <div class="result">
          <table class="items">
            <tr class="item">
              <td class="origin">https://exmaple.com</td>
              <td class="shorten__url">https://e.com(短縮後のURL)</td>
              <td class="copy"><button class="copy__btn" type="button">copy</button></td>
            </tr>
            <tr class="item">
              <td class="origin">https://exmaple.com</td>
              <td class="shorten__url">https://e.com/hoge(短縮後のURL)</td>
              <td class="copy"><button class="copy__btn" type="button">copy</button></td>
            </tr>
          </table>
        </div>
      </div>
    <script
      type="text/javascript"
      src="{{ url_for('create_short_url.static', filename='js/index.js') }}">
    </script>
  </body>
</html>