<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<!-- URL「/」が呼ばれたときに表示されるトップページ
「catalogフォルダ」の中に、まず「templatesフォルダ」を作って、
その中に「index.htmlファイル」を作る -->

<body>
    <h1>フラスコ図鑑へようこそ</h1>
    <h2>何をしたいですか？</h2>
    <ul>
        <li><a href="/create_db">データベースの新規作成</a></li>
        <li><a href="/insert_item">データの入力</a></li>
        <li><a href="/show_list">データの閲覧</a></li>
    </ul>
</body>
</html>