h1{
    position: relative;
    background: #dfefff;
    box-shadow: 0 0 0 5px #dfefff;
    border: dashed -2px white;
    padding: 0.2rem 0.5rem;
    color: #454545;
}

h1:after{
    position: absolute;
    content: '';
    left: 7px;
    top: 7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}