<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サプーアプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>サプー書店</h1>
    <h2>今月の新刊一覧</h2>
        {% if books == [] %}
            <p>今月の新刊情報はまだありません</p>
        {% else %}
            <table border="1">
                <!-- trは１行を表す -->
                    <tr>
                        <th>入荷日</th>
                        <th>タイトル</th>
                        <th>金額</th>
                    </tr>

                {% for book in books %}
                    <tr>
                        <td>{{ book.arrival_day }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.price }}円</td>
                    </tr>
                {% endfor %}
                <!-- 繰り返し処理などを用いる場合は上のように書く -->
            </table>
        {% endif %}
    <a href="{{ url_for('form') }}">編集</a>
    <!-- url_forの引数にはリンクを押したら実行されてほしいPythonの関数名を入れる -->
</body>
</html>